/*
 * Carousel
 */

@layer components {
    .splide {
        & .splide__arrows {
            @apply
            pointer-events-none
            h-11
            flex
            justify-between
            items-start;
        }

        & .splide__arrow {
            @apply
            pointer-events-auto
            text-white
            h-full
            hover:text-gold-dark;
        }
    }

    .splide {
        & .splide__pagination {
            @apply pt-2;
        }

        & .splide__pagination__page {
            @apply px-1 py-2
            before:block
            before:w-3
            before:h-3
            before:rounded-full
            before:border
            before:border-gray-400
            before:transition-colors
            hover:before:border-white;

            &.is-active {
                @apply
                before:border-gold-dark
                before:bg-gold-dark;
            }
        }
    }

    .splide--arrows-bottom {
        @apply order-1;

        & .splide__body {
            @apply flex flex-col relative;
        }

        & .splide__track {
            @apply -order-1 mb-11 md:mb-16;
        }

        & .splide__arrows {
            @apply -mt-11;
        }

        & .splide__pagination {
            @apply -mt-11 mx-16;
        }
    }

    .splide--arrows-center {
        & .splide__arrows {
            @apply
            absolute
            z-10
            left-0
            right-0
            top-1/2
            -translate-y-1/2;
        }
    }

    .splide--branded {
        & .splide__slide__img {
            @apply
            flex
            justify-center
            relative
            before:absolute
            before:left-0
            before:right-0
            before:top-0
            before:bottom-0
            before:bg-logo-glyph
            before:bg-no-repeat
            before:bg-contain
            before:bg-center
            before:opacity-0
            before:transition-opacity
            before:duration-[400ms];
        }

        & .splide__slide {
            @apply
            opacity-30
            transition-opacity
            duration-300;

            &.is-active {
                @apply
                opacity-100;

                & .splide__slide__img {
                    @apply
                    before:opacity-100;
                }
            }
        }

        & [aria-busy=true] .splide__slide.is-active {
            @apply
            opacity-30;
        }
    }

    .splide__slide__img {}
}

@layer components {
    .splide__slide__link {
        @apply
        hover:text-gold-dark
        after:absolute
        after:left-0
        after:right-0
        after:top-0
        after:bottom-0;
    }
}
