/*
 * Component: Decorations
 */

@layer components {
    .c-spotlight {
        @apply
            relative
            before:content-['']
            before:absolute
            before:top-[37%]
            before:left-[68%]
            before:w-[30%]
            before:h-[30%]
            before:-translate-x-1/2
            before:-translate-y-1/2
            before:bg-spotlight-blue
            before:blur-[250px]
        ;
    }
}

@layer components {
    .c-mask-opacity-to-bottom-5 {
        mask-image: linear-gradient(#000 95%, transparent 100%);
    }
}
@layer components {
    .c-mask-opacity-to-bottom-75 {
        mask-image: linear-gradient(#000 25%, transparent 100%);
    }
}

@layer components {
    .aos-init {
        @apply opacity-0;
    }
}
