/*
 * Utilities: Miscellaneous
 */

@layer utilities {
    .u-text--primary {
        @apply text-transparent bg-clip-text bg-gradient-to-r from-gold-light to-gold-dark;
    }

    .-scale-x-1 {
        transform: scaleX(-1);
    }
}
