/* Base: Font */

@layer base {
    @font-face {
        font-family: 'Bebas Neue Pro';
        src: url('/resources/fonts/BebasNeuePro-Regular.woff2') format('woff2');
        font-weight: 400;
        font-style: normal;
        font-display: swap;
    }

    @font-face {
        font-family: 'Bebas Neue Pro';
        src: url('/resources/fonts/BebasNeuePro-Italic.woff2') format('woff2');
        font-weight: 400;
        font-style: italic;
        font-display: swap;
    }

    @font-face {
        font-family: 'Bebas Neue Pro';
        src: url('/resources/fonts/BebasNeuePro-Bold.woff2') format('woff2');
        font-weight: 700;
        font-style: normal;
        font-display: swap;
    }

    @font-face {
        font-family: 'Bebas Neue Pro';
        src: url('/resources/fonts/BebasNeuePro-BoldItalic.woff2') format('woff2');
        font-weight: 700;
        font-style: italic;
        font-display: swap;
    }
}
