/* Base: Normalize */

@layer base {
    body {
        @apply antialiased bg-gray-900;
    }

    a,
    button {
        @apply transition-colors;
    }
}

@layer base {
    svg {
        @apply fill-current;
    }
}
