/* Base: Normalize */

@layer base {
    html {
        @apply h-full;
    }

    body {
        @apply min-h-full antialiased bg-gray-900;
    }

    a,
    button {
        @apply transition-colors;
    }
}

@layer base {
    svg {
        @apply fill-current;
    }
}
