/* Base: Type */

@layer base {
    body {
        @apply
        font-app
        text-base
        text-gray-400/100
        uppercase;
    }

    /**
     * small  'base'    16  / 1.1     16/16  = 1rem
     * base   'xl'      20  / 1       20/16  = 1.25rem
     * large  '2xl'     24  / 1       24/16  = 1.5rem
     * h6     '3xl'     36  / 0.9     36/16  = 2.25rem
     * h5     '4xl'     48  / 0.9     48/16  = 3rem
     * h4     '5xl'     52  / 0.8     52/16  = 3.25rem
     * h3     '6xl'     64  / 0.8     62/16  = 4rem
     * h2     '7xl'     90  / 0.8     90/16  = 5.625rem
     * h1     '9xl'     162 / 0.8     162/16 = 10.125rem
     */
    h1, .b-h1 {
        @apply font-bold text-5xl text-gray-500 mb-4 lg:text-9xl;
    }

    h2, .b-h2 {
        @apply font-bold text-5xl text-gray-500 mb-4 lg:text-7xl;
    }

    h3, .b-h3 {
        @apply font-bold text-4xl text-gray-500 mb-4 lg:text-6xl;
    }

    h4, .b-h4 {
        @apply font-bold text-3xl text-gray-500 mb-4 lg:text-5xl;
    }

    h5, .b-h5 {
        @apply font-bold text-2xl text-gray-500 mb-4 lg:text-4xl;
    }

    h6, .b-h6 {
        @apply font-bold text-xl text-gray-500 mb-4 lg:text-3xl;
    }

    p, ul, ol, dl {
        @apply mb-6;
    }
}
