/* Base: Type */

@layer base {
    @font-face {
        font-family: 'Bebas Neue Pro';
        src: url('/resources/fonts/BebasNeuePro-Regular.woff2') format('woff2');
        font-weight: 400;
        font-style: normal;
        font-display: swap;
    }

    @font-face {
        font-family: 'Bebas Neue Pro';
        src: url('/resources/fonts/BebasNeuePro-Italic.woff2') format('woff2');
        font-weight: 400;
        font-style: italic;
        font-display: swap;
    }

    @font-face {
        font-family: 'Bebas Neue Pro';
        src: url('/resources/fonts/BebasNeuePro-Bold.woff2') format('woff2');
        font-weight: 700;
        font-style: normal;
        font-display: swap;
    }

    @font-face {
        font-family: 'Bebas Neue Pro';
        src: url('/resources/fonts/BebasNeuePro-BoldItalic.woff2') format('woff2');
        font-weight: 700;
        font-style: italic;
        font-display: swap;
    }

    body {
        @apply font-app text-gray-400 text-base uppercase;
    }

    /**
     * small  'base'    16  / 1       16/16  = 1rem
     * base   'xl'      20  / 1       20/16  = 1.25rem
     * h5     '4xl'     36  / 0.9     36/16  = 2.25rem
     * h4     '5xl'     52  / 0.8     52/16  = 3.25rem
     * h3     '6xl'     64  / 0.8     64/16  = 4rem
     * h2     '7xl'     90  / 0.8     90/16  = 5.625rem
     * h1     '9xl'     162 / 0.8     162/16 = 10.125rem
     */
    h1, .b-h1 {
        @apply font-bold text-9xl mb-4;
    }

    h2, .b-h2 {
        @apply font-bold text-7xl mb-4;
    }

    h3, .b-h3 {
        @apply font-bold text-6xl mb-4;
    }

    h4, .b-h4 {
        @apply font-bold text-5xl mb-4;
    }

    h5, .b-h5 {
        @apply font-bold text-4xl mb-4;
    }

    p, ul, ol, dl {
        @apply mb-6;
    }
}
